main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./assets/leaves-6975462.png');
}
article {
    width: 75%;
    background-color: tan;
    padding: 20px;
}

header,
footer {
    width: 100%;
    background-color: cadetblue;
}

/* give body of the page background color and apply global font family to body and its decendants  */
body {
    background-color: blanchedalmond;
    font-family: 'Raleway', sans-serif;
}

main img {
    height: 200px;
    border-radius: 10px;
}
/* apply flex display settings to contact-container and heading */
.contact-container,
.heading-div {
    display: flex;
    justify-content: space-between;
}

/* applied styling to pseudo class of anchor elements */
a:hover {
    color: cadetblue;
}

/* center text in the element box */
body h2,
footer {
    text-align: center;
}
